@charset "UTF-8";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 1.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
header {
  grid-area: header;
  background-color: #ff4081;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
}
#logo {
  padding-left: 5rem;
}

#logo a img {
  width: 180px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 60px;
}

main {
  margin: 0 auto;
  width: 80%;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  background-color: #ffecf2;
  grid-template-areas:
    "heading heading"
    "right left";
}
.heading {
  grid-area: heading;
}
.heading h2 {
  padding-left: 2rem;
}
.right {
  grid-area: right;
}
.left {
  grid-area: left;
  background-color: #f4ffa2;
  display: flex;
  flex-direction: column;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-left img {
  width: 80%;
}
.img-right img {
  width: 80%;
  display: flex;
  justify-content: center;
}

.grid-fig {
  font-size: 0.8rem;
}

/* .aside {
  display: flex;
  flex-direction: column;
} */

/* aside {
  grid-area: aside;
  background-color: #f4ffa2;
} */

footer {
  grid-area: footer;
  background-color: #8feee6;
}
