@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.3;
  font-family: "Times New Roman", Times, serif;
}

/* Image/logo style */
img {
  max-width: 100%;
}

#img {
  width: 400px;
  transition: transform 0.3s;
}

#img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.3);
}

#logo a img {
  width: 190px;
}

/* ---Body Style--- */
body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: auto repeat(6, minmax(auto, 230px)) auto;
  grid-template-rows: min-content min-content 70px;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav"
    ". main main main aside aside aside ."
    "footer footer footer footer footer footer footer footer";
}

/* ---Navigering Style--- */
nav {
  grid-area: nav;
  display: flex;
  height: 80px;
  width: 100%;
  background: #eb99f5;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 40px;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
}

nav ul li a {
  color: black;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #eb99f5;
  background-color: black;
}

nav li a.thisPage {
  background-color: rgb(255, 255, 255);
  color: black;
}

nav .menu-btn {
  background-image: url(../img/menuicon.png);
  color: black;
  width: 24px;
  height: 24px;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}

/* ---Header Style--- */
header {
  grid-area: header;
}

header h2 {
  font-size: 1.7rem;
  /* 
  padding-left: 1.5rem; */
}

/* Main style */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto auto;
  grid-template-areas:
    "header"
    "content1"
    "content2";
  box-shadow: 6px 8px 75px 38px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 8px 75px 38px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 8px 75px 38px rgba(0, 0, 0, 0.75);
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 1.8rem;
}

.content1 {
  grid-area: content1;
  padding-top: 1rem;
}
.content1 h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.content2 {
  grid-area: content2;
}

.question1 ul,
.answer1 ul,
.question2 ul,
.answer2 ul {
  padding-left: 1.5rem;
}

span {
  font-size: 0.8rem;
  font-style: italic;
}

aside {
  grid-area: aside;
  box-shadow: 6px 8px 75px 30px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 8px 75px 30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 8px 75px 30px rgba(0, 0, 0, 0.75);
  padding-top: 5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.grid-fig {
  font-size: 0.7rem;
}

.f6_example {
  padding-left: 3rem;
  padding-right: 2rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8feee6;
}
footer p {
  font-size: 1rem;
}

/* Media Queries */
@media (max-width: 1028px) {
  nav {
    padding: 0 40px 0 20px;
  }
  .nav li a {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 1rem;
    grid-template-columns: auto;
    grid-template-rows: min-content auto auto 50px;
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";
  }
  main {
    margin: 0;
    padding: 1rem;
    box-shadow: 0px 0px 0px 0px;
  }

  aside {
    box-shadow: 0px 0px 0px 0px;
    margin: 0;
    display: block;
    gap: 1rem;
  }

  #img {
    width: 550px;
    pointer-events: none;
  }

  footer p {
    font-size: 0.7rem;
    padding: 1rem;
  }
}

@media (max-width: 920px) {
  nav .menu-btn {
    display: block;
  }

  /* #click:checked ~ .menu-btn:before {
    background-image: url(../image/menuicon.png);
  } */

  nav ul {
    height: auto;
    width: 100%;
    text-align: center;
    display: block;
    position: fixed;
    top: 80px;
    left: -100%;
    background: #254257;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li a {
    height: 2.5rem;
    color: #eb99f5;
    display: block;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a.thisPage,
  nav ul li a:hover {
    background: none;
    color: rgb(255, 255, 255);
  }
}

/* 
main {
  width: 80%;
  margin: 0 auto;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  background-color: rgb(244, 255, 162, 0.6);
  grid-template-areas:
    "heading heading"
    "right left";
}
.heading {
  grid-area: heading;
  padding: 1rem;
}
.heading h2 {
  padding-left: 1rem;
}
.right {
  grid-area: right;
  padding-left: 5rem;
}
.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
}

.right ul li {
  list-style-type: lower-alpha;
}

.fa ul li {
  list-style-type: square;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.img-left img {
  max-width: 100%;
}
.img-right img {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.grid-fig {
  font-size: 0.8rem;
}
 */
/* .aside {
  display: flex;
  flex-direction: column;
} */

/* aside {
  grid-area: aside;
  background-color: #f4ffa2;
} */

/* .img {
  grid-area: img;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */
