@charset "UTF-8";

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body {
  height: 100vh;
  font-size: 1.2rem;
  background: repeating-linear-gradient(
      190deg,
      rgba(255, 64, 129, 0.5) 40px,
      rgb(255, 173, 162, 0.5) 80px,
      rgba(244, 255, 162, 0.5) 120px,
      rgba(162, 244, 255, 0.5) 160px,
      rgba(173, 162, 225, 0.5) 240px,
      rgba(238, 130, 238, 0.5) 280px,
      rgba(244, 255, 162, 0.5) 120px,
      rgba(143, 238, 230, 0.5) 160px
    ),
    repeating-linear-gradient(
      -190deg,
      rgba(255, 64, 129, 0.5) 40px,
      rgb(255, 173, 162, 0.5) 80px,
      rgba(244, 255, 162, 0.5) 120px,
      rgba(162, 244, 255, 0.5) 160px,
      rgba(173, 162, 225, 0.5) 240px,
      rgba(238, 130, 238, 0.5) 280px,
      rgba(244, 255, 162, 0.5) 120px,
      rgba(143, 238, 230, 0.5) 160px
    ),
    repeating-linear-gradient(
      23deg,
      DeepPink 50px,
      orange 50px,
      yellow 250px,
      Aquamarine 200px,
      violet 350px
    );
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
header {
  grid-area: header;
  background-color: #ff4081;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
}
#logo {
  padding-left: 5rem;
}

#logo a img {
  width: 180px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

main {
  width: 80%;
  margin: 0 auto;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  background-color: rgb(244, 255, 162, 0.6);
  grid-template-areas:
    "heading heading"
    "right left";
}
.heading {
  grid-area: heading;
  padding: 1rem;
}
.heading h2 {
  padding-left: 1rem;
}
.right {
  grid-area: right;
  padding-left: 5rem;
}
.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
}

.right ul li {
  list-style-type: lower-alpha;
}

.fa ul li {
  list-style-type: square;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.img-left img {
  width: 70%;
}
.img-right img {
  width: 70%;
  display: flex;
  justify-content: center;
}

.grid-fig {
  font-size: 0.8rem;
}

/* .aside {
  display: flex;
  flex-direction: column;
} */

/* aside {
  grid-area: aside;
  background-color: #f4ffa2;
} */

footer {
  grid-area: footer;
  background-color: #8feee6;
}
